node_modules
.next
out
.git
.gitignore
.env
.env.local
.env.*.local
Dockerfile
docker-compose.yml
public/generated
public-tunnel.log
public-ssh-tunnel.log
tools
tsconfig.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
README.md
